<div id="currency-selector">
  <div class="row">
    <div class="col span_1">
      <a href="#foreign-currency" class="select-currency" data-currency="foreign"><%= foreignCurrency.get('code') %></a>
    </div>
    <div class="col span_1">
      <a href="#home-currency" class="select-currency" data-currency="home"><%= homeCurrency.get('code') %></a>
    </div>
  </div>
</div>
