<div id="currency-info">
  <div class="regular">
    What are my <a href="#foreign-currency" class="select-currency" data-currency="foreign"><%= foreignCurrency.get('pluralName') %></a>
    <br>
    worth in <a href="#home-currency" class="select-currency" data-currency="home"><%= homeCurrency.get('pluralName') %></a>?
  </div>
  <div class="small">
    <strong><%= foreignCurrency.get('code') %></strong> &gt; <strong><%= homeCurrency.get('code') %></strong>
  </div>
</div>
