<select id="<%= (firstCurrency) ? 'first' : 'second' %>-select">
  <% for (var i in currencies) { %>
    <% if ((i !== getCurrencies()[0]) &&
           (i !== getCurrencies()[1])) { %>
      <option value="#<%= (firstCurrency) ? i + ',' + getCurrencies()[1] : getCurrencies()[0] + ',' + i %>" class="flag <%= i %>-flag">
        <%= currencies[i].name %>
      </option>
    <% } %>
  <% } %>
</select>
