<div id="currency-switcher">
  What <%= getPluralName(getCurrencies()[0], 'are my <strong class="first-currency">', 'is my <strong class="first-currency">') %></strong>
  worth<br> in <strong class="second-currency"><%= getPluralName(getCurrencies()[1]) %></strong>?
</div>
<div class="clear"></div>
