<div id="currency-switcher">
  What are my <strong class="first-currency"><%= getName(getCurrencies()[0]) %></strong>
  worth<br> in <strong class="second-currency"><%= getName(getCurrencies()[1]) %></strong>?
</div>
<div class="clear"></div>
