<h1><%= app.conf.get('name') %></h1>
<h2>Currency conversion using actual denominations.</h2>

<div id="currency-switcher"></div>
<div id="currency-list-first"></div>
<div id="currency-list-second"></div>

<div id="coins"></div>
<div id="notes"></div>
