<h1 class="hide"><%= app.conf.get('name') %></h1>
<h2 class="hide">Currency conversion using actual denominations.</h2>

<div id="currency-list-first" class="off-screen"></div>
<div id="currency-list-second" class="off-screen"></div>

<div id="header" class="EUR-flag"></div>

<div id="coins"></div>
<div id="notes"></div>
