<h1 class="hide"><%= app.conf.get('name') %></h1>
<h2 class="hide">Currency conversion using actual denominations.</h2>

<div id="foreign-select" class="currency-list-selector hide popover">
  <div class="popover-content scrollable">
    <div class="arrow"><span></span></div>
      <div class="popover-body">
        <ul></ul>
    </div>
  </div>

  <a class="cancel-currency-select" href="#">Cancel</a>
</div>
<div id="home-select" class="currency-list-selector hide popover">
  <div class="popover-content scrollable">
    <div class="arrow"><span></span></div>
      <div class="popover-body">
        <ul></ul>
    </div>
  </div>

  <a class="cancel-currency-select" href="#">Cancel</a>
</div>

<div id="header"></div>

<div id="denominations">
  <div id="coins">
    <div class="denomination-list row"></div>
  </div>
  <div id="notes">
    <div class="denomination-list row"></div>
  </div>
</div>
