@import "lib/gridpak.css";

/* Your styles here */
@import "flags.css";
@import "../fonts/bitter/stylesheet.css";

body {
    background: url(../img/bg-compassrose.png) 0 58px no-repeat fixed;
    background-size: cover;
    font-family: Bitter, Helvetica, Arial, sans-serif;
    font-size: .95em;
    margin: 69px 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
    body {
        background-image: url(../img/bg-compassrose@2x.png);
    }
}

p, dl, ul, ol {
    margin-right: 38%;
}

a, a:visited, a:active {
    color: #0088cc;
}

.clear {
    clear: both;
}

.hide {
    display: none;
}

.off-screen {
    left: -9999px;
    position: absolute;
    top: 0;
}

h1, h2 {
    text-align: center;
}






/* -------- HEADER ------- */
/*
/* Top bar with flag, currently-converting currencies, and currency switcher.
/*
/* ----------------------- */


#header {
    background-color: #e7e4e0;
    background-position: -35px 100%;
    background-repeat: no-repeat;
    background-size: 130px 75px;
    border-bottom: 1px solid rgba(88, 82, 82, 1);
    box-shadow: 0px 3px 5px rgba(88, 82, 82, 0.75);
    font-size: 14px;
    height: 58px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#currency-selector {
    float: left;
    line-height: 1em;
    margin: 10px 0 0 20px;
    max-width: 265px;
    width: auto;
}

#currency-switcher {
    background: url(../img/switch.png) 0 0 no-repeat;
    background-size: auto 100%;
    float: right;
    height: 60px;
    margin: -2.5px 0 0;
    width: 60px;
}

#currency-switcher:active {
    background-position: -60px 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
    #currency-switcher {
        background-image: url(../img/switch@2x.png);
    }
}

#header strong {
    font-size: 18px;
    font-variant: small-caps;
    text-transform: lowercase;
}

#currency-list-first li, #currency-list-second li {
    list-style: none;
}

/*
#currency-list-first {
    float: left;
}

#currency-list-second {
    float: right;
}
*/

/*
.denomination-list {
    clear: both;
}

.denomination {
    float: left;
    height: 100px;
    width: 50%;
}
*/







/* -------- MAIN CONTENT ------- */
/*
/* Graphical representations of coins and bills, along with corresponding conversions.
/*
/* ----------------------- */



.coins {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 125px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 125px;
}

.coins .inner {
    color: rgba(230, 230, 240, 1);
    font-size: 70px;
    height: 1em;
    letter-spacing: -.08em;
    margin: 0 0 0 -7px;
    position: absolute;
    text-shadow: 0px 1px #8496ad, 0px -1px #f8f8f8;
    top: 17%;
    width: 100%; 
}

.coins .symbol {
    display: inline-block;
    letter-spacing: 0;
    font-size: 50%;
    font-weight: normal;
    vertical-align: 35%;
}

.notes {
    background-image: url(../img/note.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 87px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 140px;
}

.notes .color {
    left: 0;
    height: 87px;
    position: absolute;
    top: 0;
    width: 140px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
    .notes {
        background-image: url(../img/note@2x.png);
    }
}

.notes .inner {
    color: rgba(230, 230, 240, 1);
    font-size: 70px;
    height: 1em;
    letter-spacing: -.08em;
    margin: 0 0 0 -4px;
    position: absolute;
    text-shadow: 0px 1px #8496ad, 0px -1px #f8f8f8;
    top: 5%;
    width: 100%; 
}

.notes .symbol {
    display: inline-block;
    font-size: 50%;
    font-weight: normal;
    letter-spacing: 0;
    vertical-align: 35%;
}

.subtitle {
    clear: both;
    text-align: center;
}

.flag {
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding: 0 0 0 18px;
}

/** Colour styles for coins */
.coins.copper {
    background-image: url(../img/coins/copper.png);
}

.coins.copper-silver {
    background-image: url(../img/coins/copper-silver.png);
}

.coins.gold {
    background-image: url(../img/coins/gold.png);
}

.coins.gold-silver {
    background-image: url(../img/coins/gold-silver.png);
}

.coins.silver {
    background-image: url(../img/coins/silver.png);
}

.coins.silver-copper {
    background-image: url(../img/coins/silver-copper.png);
}

.coins.silver-gold {
    background-image: url(../img/coins/silver-gold.png);
}

/* Retina versions */
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
    .coins.copper {
        background-image: url(../img/coins/copper@2x.png);
    }

    .coins.copper-silver {
        background-image: url(../img/coins/copper-silver@2x.png);
    }

    .coins.gold {
        background-image: url(../img/coins/gold@2x.png);
    }

    .coins.gold-silver {
        background-image: url(../img/coins/gold-silver@2x.png);
    }

    .coins.silver {
        background-image: url(../img/coins/silver@2x.png);
    }

    .coins.silver-copper {
        background-image: url(../img/coins/silver-copper@2x.png);
    }

    .coins.silver-gold {
        background-image: url(../img/coins/silver-gold@2x.png);
    }
}

/** Colour styles for notes */
.notes .color.blue {
    background-color: rgba(80, 131, 201, .4);
}

.notes .color.brown {
    background-color: rgba(87, 57, 9, .4);
}

.notes .color.green {
    background-color: rgba(80, 128, 38, .4);
}

.notes .color.orange {
    background-color: rgba(222, 150, 55, .4);
}

.notes .color.purple {
    background-color: rgba(197, 131, 211, .4);
}

.notes .color.red {
    background-color: rgba(128, 26, 26, .4);
}

.notes .color.teal {
    background-color: rgba(60, 128, 93, .4);
}

.notes .color.yellow {
    background-color: rgba(235, 202, 73, .4);
}
