@import "lib/gridpak.css";

/* Your styles here */
@import "flags.css";

body {
    font-family: Helvetica;
    font-size: .95em;
    margin: 5px 0;
}

p, dl, ul, ol {
    margin-right: 38%;
}

a, a:visited, a:active {
  color: #0088cc;
}

.clear {
    clear: both;
}

.hide {
    display: none;
}

h1, h2 {
    text-align: center;
}

#currency-switcher {
    text-align: center;
}

#currency-list-first li, #currency-list-second li {
    list-style: none;
}

/*
#currency-list-first {
    float: left;
}

#currency-list-second {
    float: right;
}
*/

/*
.denomination-list {
    clear: both;
}

.denomination {
    float: left;
    height: 100px;
    width: 50%;
}
*/

.coins .symbol {
    display: inline-block;
    font-size: 50%;
    vertical-align: 35%;
}

.coins {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 150px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 150px;
}

.coins .inner {
    color: rgba(244, 244, 244, 1);
    font-size: 40px;
    height: 1em;
    margin: -.475em 0 0 -4px;
    position: absolute;
    top: 50%;
    width: 100%;
}

.notes {
    border: 1px solid black;
    display: block;
    font-size: 28px;
    height: 36px;
    margin: 0 auto;
    padding: 19px 25px 0;
    text-align: center;
    width: 80px;
}

.subtitle {
    clear: both;
    text-align: center;
}

.flag {
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding: 0 0 0 18px;
}

/** Colour styles for coins */
.coins.copper {
    background-image: url(../img/coins/copper.png);
}

.coins.copper-silver {
    background-image: url(../img/coins/copper-silver.png);
}

.coins.gold {
    background-image: url(../img/coins/gold.png);
}

.coins.gold-silver {
    background-image: url(../img/coins/gold-silver.png);
}

.coins.silver {
    background-image: url(../img/coins/silver.png);
}

.coins.silver-copper {
    background-image: url(../img/coins/silver-copper.png);
}

.coins.silver-gold {
    background-image: url(../img/coins/silver-gold.png);
}

/** Colour styles for notes */

.blue {
    background-color: blue;
}

.brown {
    background-color: #804000;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: purple;
}

.red {
    background-color: red;
}

.teal {
    background-color: teal;
}

.yellow {
    background-color: yellow;
}
