@import "lib/gridpak.css";
@import "lib/popover.css";

/* Your styles here */
@import "flags.css";
@import "../fonts/bitter/stylesheet.css";

body {
    background: url(../img/bg-compassrose.png) 0 58px no-repeat fixed;
    background-size: cover 100%;
    font-family: Bitter, Helvetica, Arial, sans-serif;
    font-size: .95em;
    margin: 69px 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
    body {
        background-image: url(../img/bg-compassrose@2x.png);
    }
}

p, dl, ul, ol {
    margin-right: 38%;
}

a, a:visited, a:active {
    color: #0088cc;
}

.clear {
    clear: both;
}

.hide {
    display: none;
}

.off-screen {
    left: -9999px;
    position: absolute;
    top: 0;
}

h1, h2 {
    text-align: center;
}




/* -------- POPOVER ------- */
/*
/* iOS-style popover select list for picking currencies.
/*
/* ----------------------- */

#first-select, #second-select {
    opacity: 1;
    transition: all linear 150ms;
}

#first-select.hide, #second-select.hide {
    display: block;
    opacity: 0;
    z-index: -50;
}

#first-select {
    top: 37px;
}

#second-select {
    left: 40%;
    top: 50px;
}

#first-select .arrow {
    left: 75px;
}

.popover {
    position: fixed;
    width: 225px;
    z-index: 10010;
}

.popover .popover-content {
    background-color: #e7e4e0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e7e4e0), to(#c7c4c0)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #e7e4e0, #c7c4c0); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, #e7e4e0, #c7c4c0); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #e7e4e0, #c7c4c0); /* IE10 */
    background-image:      -o-linear-gradient(top, #e7e4e0, #c7c4c0); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #e7e4e0, #c7c4c0);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e7e4e0', EndColorStr='#c7c4c0'); /* IE6-IE9 */
}

.popover .arrow span {
    background: #e7e4e0;
}

.popover .popover-body {
    max-height: 280px;
    overflow-y: auto;
}

.popover .popover-body ul li {
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
}

/* -------- HEADER ------- */
/*
/* Top bar with flag, currently-converting currencies, and currency switcher.
/*
/* ----------------------- */


#header {
    background-color: #e7e4e0;
    background-position: -35px 100%;
    background-repeat: no-repeat;
    background-size: 130px 75px;
    border-bottom: 1px solid rgba(88, 82, 82, 1);
    box-shadow: 0px 3px 5px rgba(88, 82, 82, 0.75);
    font-size: 14px;
    height: 58px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#first-select.show, #second-select.show {
    left: 25px;
    position: fixed;
    top: 10px;
    z-index: 10000;
}

#second-select.show {
    top: 26px;
}

@media screen and (max-width: 760px) {
    #first-select.show, #second-select.show {
        opacity: 0;
    }
}

#currency-selector {
    background: rgba(231, 228, 224, 0.75);
    border: 1px solid rgba(88, 82, 82, 1);
    float: right;
    line-height: 1em;
    margin: 10px 0 0;
    padding: 0 2px 2px;
    max-width: 230px;
    width: auto;
}

#currency-selector a {
    color: inherit;
    font-size: 16px;
    font-variant: small-caps;
    font-weight: bold;
    text-decoration: none;
    text-transform: lowercase;
}

#currency-switcher {
    background: url(../img/switch.png) 0 0 no-repeat;
    background-size: 100px 50px;
    float: right;
    height: 50px;
    margin: 2.5px 0 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    width: 50px;
}

#currency-switcher:active, #currency-switcher.active {
    background-position: -50px 0;
    outline: 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
    #currency-switcher {
        background-image: url(../img/switch@2x.png);
    }
}

#currency-list-first li, #currency-list-second li {
    background-position: 8px 50%;
    line-height: 28px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#currency-list-first a, #currency-list-second a {
    color: inherit;
    display: block;
    height: 26px;
    padding: 0 0 0 28px;
    text-decoration: none;
}

/*
#currency-list-first {
    float: left;
}

#currency-list-second {
    float: right;
}
*/

/*
.denomination-list {
    clear: both;
}

.denomination {
    float: left;
    height: 100px;
    width: 50%;
}
*/







/* -------- MAIN CONTENT ------- */
/*
/* Graphical representations of coins and bills, along with corresponding conversions.
/*
/* ----------------------- */



.coins {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 125px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 125px;
}

.coins .inner {
    color: rgba(230, 230, 240, 1);
    font-size: 60px;
    height: 1em;
    letter-spacing: -.08em;
    margin: 0 0 0 -7px;
    position: absolute;
    text-shadow: 0px 1px #8496ad, 0px -1px #f8f8f8;
    top: 22%;
    width: 100%; 
}

.coins .symbol {
    display: inline-block;
    letter-spacing: 0;
    font-size: 50%;
    font-weight: normal;
    vertical-align: 35%;
}

.coins .fraction {
    font-size: 40%;
    letter-spacing: 0.001em;
    vertical-align: 45%;
}

.notes {
    background-image: url(../img/note.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 87px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 140px;
}

.notes .color {
    left: 0;
    height: 87px;
    position: absolute;
    top: 0;
    width: 140px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
    .notes {
        background-image: url(../img/note@2x.png);
    }
}

.notes .inner {
    color: rgba(230, 230, 240, 1);
    font-size: 60px;
    height: 1em;
    letter-spacing: -.08em;
    margin: 0 0 0 -4px;
    position: absolute;
    text-shadow: 0px 1px #8496ad, 0px -1px #f8f8f8;
    top: 10%;
    width: 100%; 
}

.zeros {
    display: inline-block;
    font-size: 40%;
    font-weight: normal;
    letter-spacing: 0;
    vertical-align: 75%;
}

.notes .symbol {
    display: inline-block;
    font-size: 50%;
    letter-spacing: 0;
    vertical-align: 35%;
}

.subtitle {
    background: url("../img/translated-currency-bg.png") no-repeat scroll 0 0 transparent;
    clear: both;
    color: #264F71;
    height: 29px;
    font-size: 16px;
    margin: 5px auto 10px;
    padding: 5px 0 0;
    text-align: center;
    width: 117px;
}
.subtitle .symbol {
	font-size: 75%;
	vertical-align: 20%;
}

.flag {
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding: 0 0 0 18px;
}

/** Colour styles for coins */
.coins.copper {
    background-image: url(../img/coins/copper.png);
}

.coins.copper-silver {
    background-image: url(../img/coins/copper-silver.png);
}

.coins.gold {
    background-image: url(../img/coins/gold.png);
}

.coins.gold-silver {
    background-image: url(../img/coins/gold-silver.png);
}

.coins.silver {
    background-image: url(../img/coins/silver.png);
}

.coins.silver-copper {
    background-image: url(../img/coins/silver-copper.png);
}

.coins.silver-gold {
    background-image: url(../img/coins/silver-gold.png);
}

/* Retina versions */
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
    .coins.copper {
        background-image: url(../img/coins/copper@2x.png);
    }

    .coins.copper-silver {
        background-image: url(../img/coins/copper-silver@2x.png);
    }

    .coins.gold {
        background-image: url(../img/coins/gold@2x.png);
    }

    .coins.gold-silver {
        background-image: url(../img/coins/gold-silver@2x.png);
    }

    .coins.silver {
        background-image: url(../img/coins/silver@2x.png);
    }

    .coins.silver-copper {
        background-image: url(../img/coins/silver-copper@2x.png);
    }

    .coins.silver-gold {
        background-image: url(../img/coins/silver-gold@2x.png);
    }
}

/** Colour styles for notes */
.notes .color.blue {
    background-color: rgba(80, 131, 201, .4);
}

.notes .color.brown {
    background-color: rgba(87, 57, 9, .4);
}

.notes .color.green {
    background-color: rgba(80, 128, 38, .4);
}

.notes .color.orange {
    background-color: rgba(222, 150, 55, .4);
}

.notes .color.purple {
    background-color: rgba(197, 131, 211, .4);
}

.notes .color.red {
    background-color: rgba(128, 26, 26, .4);
}

.notes .color.teal {
    background-color: rgba(60, 128, 93, .4);
}

.notes .color.yellow {
    background-color: rgba(235, 202, 73, .4);
}
