.AUD-flag {
    background-image: url(/img/flags/AUD.png);
}

.BRL-flag {
    background-image: url(/img/flags/BRL.png);
}

.CAD-flag {
    background-image: url(/img/flags/CAD.png);
}

.CHF-flag {
    background-image: url(/img/flags/CHF.png);
}

.CNY-flag {
    background-image: url(/img/flags/CNY.png);
}

.EUR-flag {
    background-image: url(/img/flags/EUR.png);
}

.GBP-flag {
    background-image: url(/img/flags/GBP.png);
}

.ILS-flag {
    background-image: url(/img/flags/ILS.png);
}

.INR-flag {
    background-image: url(/img/flags/INR.png);
}

.JPY-flag {
    background-image: url(/img/flags/JPY.png);
}

.MXN-flag {
    background-image: url(/img/flags/MXN.png);
}

.PLN-flag {
    background-image: url(/img/flags/PLN.png);
}

.THB-flag {
    background-image: url(/img/flags/THB.png);
}

.USD-flag {
    background-image: url(/img/flags/USD.png);
}

.ZAR-flag {
    background-image: url(/img/flags/ZAR.png);
}

