.ARS-flag {
    background-image: url(../img/flags/ARS@2x.png);
}
#header.ARS-flag {
    background-image: url(../img/header-flags/ARS@2x.png);
}

.AUD-flag {
    background-image: url(../img/flags/AUD@2x.png);
}
#header.AUD-flag {
    background-image: url(../img/header-flags/AUD@2x.png);
}

.BGN-flag {
    background-image: url(../img/flags/BGN@2x.png);
}
#header.BGN-flag {
    background-image: url(../img/header-flags/BGN@2x.png);
}

.BND-flag {
    background-image: url(../img/flags/BND@2x.png);
}
#header.BND-flag {
    background-image: url(../img/header-flags/BND@2x.png);
}

.BRL-flag {
    background-image: url(../img/flags/BRL@2x.png);
}
#header.BRL-flag {
    background-image: url(../img/header-flags/BRL@2x.png);
}

.CAD-flag {
    background-image: url(../img/flags/CAD@2x.png);
}
#header.CAD-flag {
    background-image: url(../img/header-flags/CAD@2x.png);
}

.CHF-flag {
    background-image: url(../img/flags/CHF@2x.png);
}
#header.CHF-flag {
    background-image: url(../img/header-flags/CHF@2x.png);
}

.CNY-flag {
    background-image: url(../img/flags/CNY@2x.png);
}
#header.CNY-flag {
    background-image: url(../img/header-flags/CNY@2x.png);
}

.COP-flag {
    background-image: url(../img/flags/COP@2x.png);
}
#header.COP-flag {
    background-image: url(../img/header-flags/COP@2x.png);
}

.CRC-flag {
    background-image: url(../img/flags/CRC@2x.png);
}
#header.CRC-flag {
    background-image: url(../img/header-flags/CRC@2x.png);
}

.CZK-flag {
    background-image: url(../img/flags/CZK@2x.png);
}
#header.CZK-flag {
    background-image: url(../img/header-flags/CZK@2x.png);
}

.DKK-flag {
    background-image: url(../img/flags/DKK@2x.png);
}
#header.DKK-flag {
    background-image: url(../img/header-flags/DKK@2x.png);
}

.EUR-flag {
    background-image: url(../img/flags/EUR@2x.png);
}
#header.EUR-flag {
    background-image: url(../img/header-flags/EUR@2x.png);
}

.GBP-flag {
    background-image: url(../img/flags/GBP@2x.png);
}
#header.GBP-flag {
    background-image: url(../img/header-flags/GBP@2x.png);
}

.HKD-flag {
    background-image: url(../img/flags/HKD@2x.png);
}
#header.HKD-flag {
    background-image: url(../img/header-flags/HKD@2x.png);
}

.HUF-flag {
    background-image: url(../img/flags/HUF@2x.png);
}
#header.HUF-flag {
    background-image: url(../img/header-flags/HUF@2x.png);
}

.IDR-flag {
    background-image: url(../img/flags/IDR@2x.png);
}
#header.IDR-flag {
    background-image: url(../img/header-flags/IDR@2x.png);
}

.ILS-flag {
    background-image: url(../img/flags/ILS@2x.png);
}
#header.ILS-flag {
    background-image: url(../img/header-flags/ILS@2x.png);
}

.INR-flag {
    background-image: url(../img/flags/INR@2x.png);
}
#header.INR-flag {
    background-image: url(../img/header-flags/INR@2x.png);
}

.ISK-flag {
    background-image: url(../img/flags/ISK@2x.png);
}
#header.ISK-flag {
    background-image: url(../img/header-flags/ISK@2x.png);
}

.JPY-flag {
    background-image: url(../img/flags/JPY@2x.png);
}
#header.JPY-flag {
    background-image: url(../img/header-flags/JPY@2x.png);
}

.KES-flag {
    background-image: url(../img/flags/KES@2x.png);
}
#header.KES-flag {
    background-image: url(../img/header-flags/KES@2x.png);
}

.KHR-flag {
    background-image: url(../img/flags/KHR@2x.png);
}
#header.KHR-flag {
    background-image: url(../img/header-flags/KHR@2x.png);
}

.LAK-flag {
    background-image: url(../img/flags/LAK@2x.png);
}
#header.LAK-flag {
    background-image: url(../img/header-flags/LAK@2x.png);
}

.MMK-flag {
    background-image: url(../img/flags/MMK@2x.png);
}
#header.MMK-flag {
    background-image: url(../img/header-flags/MMK@2x.png);
}

.MXN-flag {
    background-image: url(../img/flags/MXN@2x.png);
}
#header.MXN-flag {
    background-image: url(../img/header-flags/MXN@2x.png);
}

.MYR-flag {
    background-image: url(../img/flags/MYR@2x.png);
}
#header.MYR-flag {
    background-image: url(../img/header-flags/MYR@2x.png);
}

.NZD-flag {
    background-image: url(../img/flags/NZD@2x.png);
}
#header.NZD-flag {
    background-image: url(../img/header-flags/NZD@2x.png);
}

.PHP-flag {
    background-image: url(../img/flags/PHP@2x.png);
}
#header.PHP-flag {
    background-image: url(../img/header-flags/PHP@2x.png);
}

.PLN-flag {
    background-image: url(../img/flags/PLN@2x.png);
}
#header.PLN-flag {
    background-image: url(../img/header-flags/PLN@2x.png);
}

.RON-flag {
    background-image: url(../img/flags/RON@2x.png);
}
#header.RON-flag {
    background-image: url(../img/header-flags/RON@2x.png);
}

.RSD-flag {
    background-image: url(../img/flags/RSD@2x.png);
}
#header.RSD-flag {
    background-image: url(../img/header-flags/RSD@2x.png);
}

.RUB-flag {
    background-image: url(../img/flags/RUB@2x.png);
}
#header.RUB-flag {
    background-image: url(../img/header-flags/RUB@2x.png);
}

.SEK-flag {
    background-image: url(../img/flags/SEK@2x.png);
}
#header.SEK-flag {
    background-image: url(../img/header-flags/SEK@2x.png);
}

.SGD-flag {
    background-image: url(../img/flags/SGD@2x.png);
}
#header.SGD-flag {
    background-image: url(../img/header-flags/SGD@2x.png);
}

.THB-flag {
    background-image: url(../img/flags/THB@2x.png);
}
#header.THB-flag {
    background-image: url(../img/header-flags/THB@2x.png);
}

.TRY-flag {
    background-image: url(../img/flags/TRY@2x.png);
}
#header.TRY-flag {
    background-image: url(../img/header-flags/TRY@2x.png);
}

.TWD-flag {
    background-image: url(../img/flags/TWD@2x.png);
}
#header.TWD-flag {
    background-image: url(../img/header-flags/TWD@2x.png);
}

.USD-flag {
    background-image: url(../img/flags/USD@2x.png);
}
#header.USD-flag {
    background-image: url(../img/header-flags/USD@2x.png);
}

.VND-flag {
    background-image: url(../img/flags/VND@2x.png);
}
#header.VND-flag {
    background-image: url(../img/header-flags/VND@2x.png);
}

.ZAR-flag {
    background-image: url(../img/flags/ZAR@2x.png);
}
#header.ZAR-flag {
    background-image: url(../img/header-flags/ZAR@2x.png);
}

/** Flag list:

ARS
AUD
BGN
BND
BRL
CAD
CHF
CNY
COP
CRC
CZK
DKK
EUR
GBP
HKD
HUF
IDR
ILS
INR
ISK
JPY
KES
KHR
LAK
MMK
MXN
MYR
NZD
PHP
PLN
RON
RSD
RUB
SEK
SGD
THB
TRY
TWD
USD
VND
ZAR

*/
/** Appcache data:

img/flags/ARS@2x.png
img/header-flags/ARS@2x.png
img/flags/AUD@2x.png
img/header-flags/AUD@2x.png
img/flags/BGN@2x.png
img/header-flags/BGN@2x.png
img/flags/BND@2x.png
img/header-flags/BND@2x.png
img/flags/BRL@2x.png
img/header-flags/BRL@2x.png
img/flags/CAD@2x.png
img/header-flags/CAD@2x.png
img/flags/CHF@2x.png
img/header-flags/CHF@2x.png
img/flags/CNY@2x.png
img/header-flags/CNY@2x.png
img/flags/COP@2x.png
img/header-flags/COP@2x.png
img/flags/CRC@2x.png
img/header-flags/CRC@2x.png
img/flags/CZK@2x.png
img/header-flags/CZK@2x.png
img/flags/DKK@2x.png
img/header-flags/DKK@2x.png
img/flags/EUR@2x.png
img/header-flags/EUR@2x.png
img/flags/GBP@2x.png
img/header-flags/GBP@2x.png
img/flags/HKD@2x.png
img/header-flags/HKD@2x.png
img/flags/HUF@2x.png
img/header-flags/HUF@2x.png
img/flags/IDR@2x.png
img/header-flags/IDR@2x.png
img/flags/ILS@2x.png
img/header-flags/ILS@2x.png
img/flags/INR@2x.png
img/header-flags/INR@2x.png
img/flags/ISK@2x.png
img/header-flags/ISK@2x.png
img/flags/JPY@2x.png
img/header-flags/JPY@2x.png
img/flags/KES@2x.png
img/header-flags/KES@2x.png
img/flags/KHR@2x.png
img/header-flags/KHR@2x.png
img/flags/LAK@2x.png
img/header-flags/LAK@2x.png
img/flags/MMK@2x.png
img/header-flags/MMK@2x.png
img/flags/MXN@2x.png
img/header-flags/MXN@2x.png
img/flags/MYR@2x.png
img/header-flags/MYR@2x.png
img/flags/NZD@2x.png
img/header-flags/NZD@2x.png
img/flags/PHP@2x.png
img/header-flags/PHP@2x.png
img/flags/PLN@2x.png
img/header-flags/PLN@2x.png
img/flags/RON@2x.png
img/header-flags/RON@2x.png
img/flags/RSD@2x.png
img/header-flags/RSD@2x.png
img/flags/RUB@2x.png
img/header-flags/RUB@2x.png
img/flags/SEK@2x.png
img/header-flags/SEK@2x.png
img/flags/SGD@2x.png
img/header-flags/SGD@2x.png
img/flags/THB@2x.png
img/header-flags/THB@2x.png
img/flags/TRY@2x.png
img/header-flags/TRY@2x.png
img/flags/TWD@2x.png
img/header-flags/TWD@2x.png
img/flags/USD@2x.png
img/header-flags/USD@2x.png
img/flags/VND@2x.png
img/header-flags/VND@2x.png
img/flags/ZAR@2x.png
img/header-flags/ZAR@2x.png

*/
