.ARS-flag {
    background-image: url(../img/flags/ARS.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.ARS-flag {
    background-image: url(../img/flags/ARS@2x.png);
}
}
#header.ARS-flag {
    background-image: url(../img/header-flags/ARS.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.ARS-flag {
    background-image: url(../img/header-flags/ARS@2x.png);
}}

.AUD-flag {
    background-image: url(../img/flags/AUD.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.AUD-flag {
    background-image: url(../img/flags/AUD@2x.png);
}
}
#header.AUD-flag {
    background-image: url(../img/header-flags/AUD.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.AUD-flag {
    background-image: url(../img/header-flags/AUD@2x.png);
}}

.BGN-flag {
    background-image: url(../img/flags/BGN.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.BGN-flag {
    background-image: url(../img/flags/BGN@2x.png);
}
}
#header.BGN-flag {
    background-image: url(../img/header-flags/BGN.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.BGN-flag {
    background-image: url(../img/header-flags/BGN@2x.png);
}}

.BND-flag {
    background-image: url(../img/flags/BND.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.BND-flag {
    background-image: url(../img/flags/BND@2x.png);
}
}
#header.BND-flag {
    background-image: url(../img/header-flags/BND.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.BND-flag {
    background-image: url(../img/header-flags/BND@2x.png);
}}

.BRL-flag {
    background-image: url(../img/flags/BRL.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.BRL-flag {
    background-image: url(../img/flags/BRL@2x.png);
}
}
#header.BRL-flag {
    background-image: url(../img/header-flags/BRL.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.BRL-flag {
    background-image: url(../img/header-flags/BRL@2x.png);
}}

.CAD-flag {
    background-image: url(../img/flags/CAD.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.CAD-flag {
    background-image: url(../img/flags/CAD@2x.png);
}
}
#header.CAD-flag {
    background-image: url(../img/header-flags/CAD.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.CAD-flag {
    background-image: url(../img/header-flags/CAD@2x.png);
}}

.CHF-flag {
    background-image: url(../img/flags/CHF.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.CHF-flag {
    background-image: url(../img/flags/CHF@2x.png);
}
}
#header.CHF-flag {
    background-image: url(../img/header-flags/CHF.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.CHF-flag {
    background-image: url(../img/header-flags/CHF@2x.png);
}}

.CNY-flag {
    background-image: url(../img/flags/CNY.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.CNY-flag {
    background-image: url(../img/flags/CNY@2x.png);
}
}
#header.CNY-flag {
    background-image: url(../img/header-flags/CNY.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.CNY-flag {
    background-image: url(../img/header-flags/CNY@2x.png);
}}

.COP-flag {
    background-image: url(../img/flags/COP.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.COP-flag {
    background-image: url(../img/flags/COP@2x.png);
}
}
#header.COP-flag {
    background-image: url(../img/header-flags/COP.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.COP-flag {
    background-image: url(../img/header-flags/COP@2x.png);
}}

.CZK-flag {
    background-image: url(../img/flags/CZK.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.CZK-flag {
    background-image: url(../img/flags/CZK@2x.png);
}
}
#header.CZK-flag {
    background-image: url(../img/header-flags/CZK.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.CZK-flag {
    background-image: url(../img/header-flags/CZK@2x.png);
}}

.DKK-flag {
    background-image: url(../img/flags/DKK.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.DKK-flag {
    background-image: url(../img/flags/DKK@2x.png);
}
}
#header.DKK-flag {
    background-image: url(../img/header-flags/DKK.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.DKK-flag {
    background-image: url(../img/header-flags/DKK@2x.png);
}}

.EUR-flag {
    background-image: url(../img/flags/EUR.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.EUR-flag {
    background-image: url(../img/flags/EUR@2x.png);
}
}
#header.EUR-flag {
    background-image: url(../img/header-flags/EUR.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.EUR-flag {
    background-image: url(../img/header-flags/EUR@2x.png);
}}

.GBP-flag {
    background-image: url(../img/flags/GBP.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.GBP-flag {
    background-image: url(../img/flags/GBP@2x.png);
}
}
#header.GBP-flag {
    background-image: url(../img/header-flags/GBP.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.GBP-flag {
    background-image: url(../img/header-flags/GBP@2x.png);
}}

.HKD-flag {
    background-image: url(../img/flags/HKD.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.HKD-flag {
    background-image: url(../img/flags/HKD@2x.png);
}
}
#header.HKD-flag {
    background-image: url(../img/header-flags/HKD.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.HKD-flag {
    background-image: url(../img/header-flags/HKD@2x.png);
}}

.HUF-flag {
    background-image: url(../img/flags/HUF.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.HUF-flag {
    background-image: url(../img/flags/HUF@2x.png);
}
}
#header.HUF-flag {
    background-image: url(../img/header-flags/HUF.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.HUF-flag {
    background-image: url(../img/header-flags/HUF@2x.png);
}}

.ILS-flag {
    background-image: url(../img/flags/ILS.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.ILS-flag {
    background-image: url(../img/flags/ILS@2x.png);
}
}
#header.ILS-flag {
    background-image: url(../img/header-flags/ILS.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.ILS-flag {
    background-image: url(../img/header-flags/ILS@2x.png);
}}

.INR-flag {
    background-image: url(../img/flags/INR.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.INR-flag {
    background-image: url(../img/flags/INR@2x.png);
}
}
#header.INR-flag {
    background-image: url(../img/header-flags/INR.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.INR-flag {
    background-image: url(../img/header-flags/INR@2x.png);
}}

.JPY-flag {
    background-image: url(../img/flags/JPY.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.JPY-flag {
    background-image: url(../img/flags/JPY@2x.png);
}
}
#header.JPY-flag {
    background-image: url(../img/header-flags/JPY.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.JPY-flag {
    background-image: url(../img/header-flags/JPY@2x.png);
}}

.KES-flag {
    background-image: url(../img/flags/KES.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.KES-flag {
    background-image: url(../img/flags/KES@2x.png);
}
}
#header.KES-flag {
    background-image: url(../img/header-flags/KES.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.KES-flag {
    background-image: url(../img/header-flags/KES@2x.png);
}}

.MMK-flag {
    background-image: url(../img/flags/MMK.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.MMK-flag {
    background-image: url(../img/flags/MMK@2x.png);
}
}
#header.MMK-flag {
    background-image: url(../img/header-flags/MMK.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.MMK-flag {
    background-image: url(../img/header-flags/MMK@2x.png);
}}

.MXN-flag {
    background-image: url(../img/flags/MXN.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.MXN-flag {
    background-image: url(../img/flags/MXN@2x.png);
}
}
#header.MXN-flag {
    background-image: url(../img/header-flags/MXN.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.MXN-flag {
    background-image: url(../img/header-flags/MXN@2x.png);
}}

.MYR-flag {
    background-image: url(../img/flags/MYR.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.MYR-flag {
    background-image: url(../img/flags/MYR@2x.png);
}
}
#header.MYR-flag {
    background-image: url(../img/header-flags/MYR.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.MYR-flag {
    background-image: url(../img/header-flags/MYR@2x.png);
}}

.NZD-flag {
    background-image: url(../img/flags/NZD.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.NZD-flag {
    background-image: url(../img/flags/NZD@2x.png);
}
}
#header.NZD-flag {
    background-image: url(../img/header-flags/NZD.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.NZD-flag {
    background-image: url(../img/header-flags/NZD@2x.png);
}}

.PLN-flag {
    background-image: url(../img/flags/PLN.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.PLN-flag {
    background-image: url(../img/flags/PLN@2x.png);
}
}
#header.PLN-flag {
    background-image: url(../img/header-flags/PLN.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.PLN-flag {
    background-image: url(../img/header-flags/PLN@2x.png);
}}

.RON-flag {
    background-image: url(../img/flags/RON.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.RON-flag {
    background-image: url(../img/flags/RON@2x.png);
}
}
#header.RON-flag {
    background-image: url(../img/header-flags/RON.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.RON-flag {
    background-image: url(../img/header-flags/RON@2x.png);
}}

.RSD-flag {
    background-image: url(../img/flags/RSD.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.RSD-flag {
    background-image: url(../img/flags/RSD@2x.png);
}
}
#header.RSD-flag {
    background-image: url(../img/header-flags/RSD.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.RSD-flag {
    background-image: url(../img/header-flags/RSD@2x.png);
}}

.RUB-flag {
    background-image: url(../img/flags/RUB.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.RUB-flag {
    background-image: url(../img/flags/RUB@2x.png);
}
}
#header.RUB-flag {
    background-image: url(../img/header-flags/RUB.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.RUB-flag {
    background-image: url(../img/header-flags/RUB@2x.png);
}}

.SGD-flag {
    background-image: url(../img/flags/SGD.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.SGD-flag {
    background-image: url(../img/flags/SGD@2x.png);
}
}
#header.SGD-flag {
    background-image: url(../img/header-flags/SGD.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.SGD-flag {
    background-image: url(../img/header-flags/SGD@2x.png);
}}

.THB-flag {
    background-image: url(../img/flags/THB.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.THB-flag {
    background-image: url(../img/flags/THB@2x.png);
}
}
#header.THB-flag {
    background-image: url(../img/header-flags/THB.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.THB-flag {
    background-image: url(../img/header-flags/THB@2x.png);
}}

.TRY-flag {
    background-image: url(../img/flags/TRY.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.TRY-flag {
    background-image: url(../img/flags/TRY@2x.png);
}
}
#header.TRY-flag {
    background-image: url(../img/header-flags/TRY.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.TRY-flag {
    background-image: url(../img/header-flags/TRY@2x.png);
}}

.USD-flag {
    background-image: url(../img/flags/USD.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.USD-flag {
    background-image: url(../img/flags/USD@2x.png);
}
}
#header.USD-flag {
    background-image: url(../img/header-flags/USD.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.USD-flag {
    background-image: url(../img/header-flags/USD@2x.png);
}}

.ZAR-flag {
    background-image: url(../img/flags/ZAR.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.ZAR-flag {
    background-image: url(../img/flags/ZAR@2x.png);
}
}
#header.ZAR-flag {
    background-image: url(../img/header-flags/ZAR.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {#header.ZAR-flag {
    background-image: url(../img/header-flags/ZAR@2x.png);
}}

/** Flag list:

ARS
AUD
BGN
BND
BRL
CAD
CHF
CNY
COP
CZK
DKK
EUR
GBP
HKD
HUF
ILS
INR
JPY
KES
MMK
MXN
MYR
NZD
PLN
RON
RSD
RUB
SGD
THB
TRY
USD
ZAR

*/
/** Appcache data:

img/flags/ARS.png
img/flags/ARS@2x.png
img/header-flags/ARS.png
img/header-flags/ARS@2x.png
img/flags/AUD.png
img/flags/AUD@2x.png
img/header-flags/AUD.png
img/header-flags/AUD@2x.png
img/flags/BGN.png
img/flags/BGN@2x.png
img/header-flags/BGN.png
img/header-flags/BGN@2x.png
img/flags/BND.png
img/flags/BND@2x.png
img/header-flags/BND.png
img/header-flags/BND@2x.png
img/flags/BRL.png
img/flags/BRL@2x.png
img/header-flags/BRL.png
img/header-flags/BRL@2x.png
img/flags/CAD.png
img/flags/CAD@2x.png
img/header-flags/CAD.png
img/header-flags/CAD@2x.png
img/flags/CHF.png
img/flags/CHF@2x.png
img/header-flags/CHF.png
img/header-flags/CHF@2x.png
img/flags/CNY.png
img/flags/CNY@2x.png
img/header-flags/CNY.png
img/header-flags/CNY@2x.png
img/flags/COP.png
img/flags/COP@2x.png
img/header-flags/COP.png
img/header-flags/COP@2x.png
img/flags/CZK.png
img/flags/CZK@2x.png
img/header-flags/CZK.png
img/header-flags/CZK@2x.png
img/flags/DKK.png
img/flags/DKK@2x.png
img/header-flags/DKK.png
img/header-flags/DKK@2x.png
img/flags/EUR.png
img/flags/EUR@2x.png
img/header-flags/EUR.png
img/header-flags/EUR@2x.png
img/flags/GBP.png
img/flags/GBP@2x.png
img/header-flags/GBP.png
img/header-flags/GBP@2x.png
img/flags/HKD.png
img/flags/HKD@2x.png
img/header-flags/HKD.png
img/header-flags/HKD@2x.png
img/flags/HUF.png
img/flags/HUF@2x.png
img/header-flags/HUF.png
img/header-flags/HUF@2x.png
img/flags/ILS.png
img/flags/ILS@2x.png
img/header-flags/ILS.png
img/header-flags/ILS@2x.png
img/flags/INR.png
img/flags/INR@2x.png
img/header-flags/INR.png
img/header-flags/INR@2x.png
img/flags/JPY.png
img/flags/JPY@2x.png
img/header-flags/JPY.png
img/header-flags/JPY@2x.png
img/flags/KES.png
img/flags/KES@2x.png
img/header-flags/KES.png
img/header-flags/KES@2x.png
img/flags/MMK.png
img/flags/MMK@2x.png
img/header-flags/MMK.png
img/header-flags/MMK@2x.png
img/flags/MXN.png
img/flags/MXN@2x.png
img/header-flags/MXN.png
img/header-flags/MXN@2x.png
img/flags/MYR.png
img/flags/MYR@2x.png
img/header-flags/MYR.png
img/header-flags/MYR@2x.png
img/flags/NZD.png
img/flags/NZD@2x.png
img/header-flags/NZD.png
img/header-flags/NZD@2x.png
img/flags/PLN.png
img/flags/PLN@2x.png
img/header-flags/PLN.png
img/header-flags/PLN@2x.png
img/flags/RON.png
img/flags/RON@2x.png
img/header-flags/RON.png
img/header-flags/RON@2x.png
img/flags/RSD.png
img/flags/RSD@2x.png
img/header-flags/RSD.png
img/header-flags/RSD@2x.png
img/flags/RUB.png
img/flags/RUB@2x.png
img/header-flags/RUB.png
img/header-flags/RUB@2x.png
img/flags/SGD.png
img/flags/SGD@2x.png
img/header-flags/SGD.png
img/header-flags/SGD@2x.png
img/flags/THB.png
img/flags/THB@2x.png
img/header-flags/THB.png
img/header-flags/THB@2x.png
img/flags/TRY.png
img/flags/TRY@2x.png
img/header-flags/TRY.png
img/header-flags/TRY@2x.png
img/flags/USD.png
img/flags/USD@2x.png
img/header-flags/USD.png
img/header-flags/USD@2x.png
img/flags/ZAR.png
img/flags/ZAR@2x.png
img/header-flags/ZAR.png
img/header-flags/ZAR@2x.png

*/
